{
    "Version": 1.0,
    "CrawlerOutput": {
        "Partitions": {
            "AddOrUpdateBehavior": "${partition_update_behaviour}"
        },
        "Tables": {
            "AddOrUpdateBehavior": "${table_update_behaviour}"
        }
    },
    "Grouping": {
        "TableGroupingPolicy": "${table_grouping_policy}"
    }
}